{% load best_filters %}
basename
========

With file_path = {{ file_path }}
{% verbatim %}{{ file_path|basename }}{% endverbatim %} = {{ file_path|basename }}

dirname
=======

With file_path = {{ file_path }}
{% verbatim %}{{ file_path|dirname }}{% endverbatim %} = {{ file_path|dirname }}

multiply
========
With val50 = 50
{% verbatim %}{{ val50|multiply:1024 }}{% endverbatim %} = {{ val50|multiply:1024 }}

With valstar = '*'
{% verbatim %}{{ valstar|multiply:5 }}{% endverbatim %} = {{ valstar|multiply:5 }}
